extends ../base.pug
include ../mixins/video.pug

block content
    div.form-box
        form(method="GET").search-form
            label(for = "keyword") Search By Title
            input(id="keyword" type="text" required name="keyword")
            input(type="submit" value="Search").form-btn
    div.view_small_video
        each video in videos
            +video(video)

