extends ../base.pug

block content
    div#make-video  
        video#preview
        div#btnbox  
            button#startBtn Start Recording
    div.form-box
        if errorMessage 
            span Error :  #{errorMessage}
        form(method="POST", action = "/videos/upload" enctype="multipart/form-data")
            label(for="file") Video File
            input(name="video" id="file",required,action="video/*",type="file" ).upload-video
            label(for="thumbnail") Video Thumbnail
            input(name="thumbnail" id="thumbnail",required,action="image/*",type="file" )
            input(name = "title",required,type="text",placeholder="Write Video Title")
            input(name = "description",required,type="text",placeholder="Write Description")
            input(name = "hashtags",required,type="text",placeholder="Hashtags, separated by comma.")
            input(value="Upload",type="submit").form-btn
block scripts
    script(src="/assets/js/recorder.js")