extends ../base.pug

block content
    if errorMessage 
        span Error :  #{errorMessage}
    form(method="POST", action = "/videos/upload" enctype="multipart/form-data")
        label(for="file") Video File 
        input(name="video" id="file",required,action="video/*",type="file")
        input(name = "title",required,type="text",placeholder="Write Video Title")
        input(name = "description",required,type="text",placeholder="Write Description")
        input(name = "hashtags",required,type="text",placeholder="Hashtags, separated by comma.")
        input(value="Upload",type="submit")
