@import "./reset.scss";
//components
@import "./components/header.scss";
@import "./components/sidebar.scss";
@import "./components/footer.scss";
//screens
@import "./screens/home.scss";
@import "./screens/join.scss";
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: max-content;
}
main{
    position:relative;
    width: 100%;
    flex-grow: 1;
    max-height: max-content;
    padding-left: 65px;
    
}
