.video-category{
    width: 100%;
    z-index: 100;
    background-color: white;
    padding: 10px 0px;
    display: flex;
    position: fixed;
    left: 65px;
    top: 55px;
    div{
        font-size: 14px;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0px 12px;
        height: 35px;
        color: rgb(0, 0, 0);
        background-color: #F2F2F2;
        border-radius: 5px;
        }
}

.view-thumb{
    width: 100%;
    height: max-content;
    padding-top:110px;
    &>p{
        width: 100%;
// 높이가 없어서 flex가 안먹음 -> 해결해야하는데 main의 높이에서 header,footer를 뺀값 
// 첫번째시도: js에서 설정해볼까했는데 max-content라 그런지 height값을 못받아옴
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // &>div{
    //     background-color: pink;
    //     width: 100%;
    //     height: 500px;
    // }
}

//가장 큰 범위를 차지하는 view-thumb의 position이 변경되면 main의 크기가 제대로 측정이 안됨
//이유는 아직도 모름