.video-category{
    width: 100%;
    z-index: 100;
    background-color: white;
    padding: 10px 0px;
    display: flex;
    position: fixed;
    left: 65px;
    top: 55px;
    div{
        font-size: 13px;
        margin-right: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0px 12px;
        height: 32px;
        color: white;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        }
}
.side-bar{
    background-color: white;
    position: fixed;
    width: 65px;
    top:65px;
    height:max-content;
    &>div{
        height: 74px;
        padding: 16px 0px 14px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span{
            margin-top: 10px;
            font-size: 13px;
        }
    }
}
.view-thumb{
    width: 100%;
    height: 100%;
    padding:107px 0px 0px 65px;
    &>p{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &>div{
        background-color: pink;
        width: 100%;
        height: 500px;
    }
}

//가장 큰 범위를 차지하는 view-thumb의 position이 변경되면 main의 크기가 제대로 측정이 안됨
//이유는 아직도 모름