.main_upload{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: $header-main-gap;
}
.upload-form{
    padding: 50px 30px;
    border-radius: 10px;
    border:1px solid rgba(182, 182, 182, 0.614);
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    label{
        font-size: 15px;
        margin-bottom: 10px;
    }
    input,div{
        color:white;
        height: 50px;
        width: 100%;
        margin-top: 5px;
        background-color: black;
        border: 1px solid  rgba(182, 182, 182, 0.614);
        border-radius: 10px;
        padding-left:10px;
    }
    input::placeholder{
        color:white;
    }
    .upload-btn{
        background-color: white;
        color: $red;
        font-weight: 600;
    }
}
