#watchBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}
#videoContainer{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 50px 0px;
    video{
        width: 80%;
    }
}
.videoController{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0px;
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.539);
    padding:10px 30px;
    // border-radius: 20px;
    &>*{
        margin-right: 10px;
    }
    button{
        all:unset;
        width: 30px;
    }
}
.seeTime{
    font-size: 15px;
}
#timeline{
    flex-grow: 1;
}
.hiddenAnimation{
    animation: hiddenVideoController 0.5s linear;
    // 왜 안사라지는거야...
}
@keyframes hiddenVideoController {
    25%{
        opacity: 0.75;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.25;
    }
    100%{
        opacity: 0;
    }
}
.hidden{
    display:none;
}

#commentContainer{
    width: 90%;
}

// 댓글입력
#addCommentPart{
    display: flex;
    justify-content: center;
    height: 200px;
    form{
        // border: none;
        border: 0.5px solid white;
        border-bottom: none;
        border-radius: 0px;
        padding: 20px;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span{
            margin-left: 10px;
            margin-bottom: 10px;
            display: flex;
            align-items: flex-end;
            height: 30%;
            font-size: 20px;
        }
        div{
            display: flex;
            justify-content: flex-start;
            height: 70%;
        }
        &>div>*{
            border-radius: 10px;
            margin: 0px;
            height: 60px;
        }
        input{
            font-size: 15px;
            width: 90%;
            &:last-child{
                display: none;
            }
        }
        label{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 2%;
            width: 8%;
            background-color: white;
            color: black;
        }
    }
}
#video_comments{
    border: 0.5px solid white;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    li{
        margin-bottom: 15px;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &>div{
            font-weight: 700;
            padding: 0px 30px 0px 20px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: white;
            color: black;
        }
        button{
            all: unset;
            color: $red;
            font-weight: 800;
        }
    }
}