footer{
    display: flex;
    align-items: center;
    font-size: 13px;
    color: gray;
    height: 70px;
    width: 100%;
    span{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}