extends base.pug

block content
    h4 Change Title of video
    form(method="POST")
        input(name = "title", placeholder="Write Video Title",type="text",value=`${video.title}`, required)
        input(name = "description",required,type="text",placeholder="Write Description",value=`${video.description}`)
        input(name = "hashtags",type="text",placeholder="Hashtags, separated by comma.",value=`${video.hashtags}`)
        input(value="Save",type="submit")