extends base

block content
    div.form-box.login-box
        if(errorMessage)
            div #{errorMessage}
        form(method="POST")
            input(name="username" type="text" placeholder = "write your ID" required)
            input(name="password", type="password" placeholder="write your Password" required)
            input(type="submit", value="login").form-btn
            div.with-github
                a(href="/users/github/start") Continue with Github &rarr;
        div.move-create-account
            span Don't have an account?
            a(href="/join") &nbsp; create one new &rarr;