/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

footer {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: gray;
  height: 70px;
  width: 100%;
}
footer span {
  width: 100%;
  display: flex;
  justify-content: center;
}

header {
  background-color: #0f0f0f;
  height: 70px;
  padding-left: 2.5%;
  display: flex;
}

header > * {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}

.header__logo {
  width: 60%;
}
.header__logo i {
  color: #FF0000;
}
.header__logo span {
  margin-left: 20px;
}

nav {
  width: 40%;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
nav ul li {
  display: flex;
  align-items: center;
}
.header-user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.video-mixin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.video-mixin__img {
  width: 70%;
  height: 200px;
  background-color: white;
  border-radius: 20px;
}

.video-mixin__data {
  width: 70%;
  margin-top: 20px;
}

.video-mixin__title {
  font-size: 20px;
}

.video-mixin__meta {
  margin-top: 10px;
  font-size: 10px;
}

.view_small_video {
  flex-grow: 1;
  padding: 0px 100px;
  padding-top: 50px;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

.form-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

form {
  padding: 50px 30px;
  border-radius: 10px;
  border: 1px solid rgba(182, 182, 182, 0.614);
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
form > * {
  margin-bottom: 15px;
}
form label {
  font-size: 15px;
  margin-bottom: 5px;
}
form input {
  color: white;
  height: 50px;
  width: 100%;
  margin-top: 5px;
  background-color: black;
  border: 1px solid rgba(182, 182, 182, 0.614);
  border-radius: 10px;
  padding-left: 10px;
}
form input::placeholder {
  color: white;
}
form .form-btn {
  background-color: white;
  color: #FF0000;
  font-weight: 600;
}
form > div:nth-child(2) {
  display: flex;
  justify-content: center;
}

.with-github {
  display: flex;
  width: 100%;
  justify-content: center;
  border-top: 1px solid rgba(182, 182, 182, 0.614);
  padding-top: 20px;
  margin-top: 20px;
}

#make-video {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 30px;
}

#preview {
  width: 50%;
}

#btnbox {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  width: 50%;
}
#btnbox button {
  margin: 0px 10px 0px 10px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: white;
  font-size: 15px;
  font-weight: 500;
  color: #FF0000;
  width: 120px;
  height: 60px;
}

.profile-box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user-info {
  margin-top: 50px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-info span {
  margin-top: 15px;
}

.user-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.login-box {
  flex-direction: column;
}
.login-box .move-create-account {
  margin-top: 30px;
}

.join-box {
  flex-direction: column;
}
.join-box .move-login {
  margin-top: 20px;
}

.profile-edit-box {
  flex-direction: column;
}
.profile-edit-box form {
  margin-top: 30px;
}

.move-change-password {
  margin-top: 25px;
}

#watchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
}

#videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 50px 0px;
}
#videoContainer video {
  width: 80%;
}

.videoController {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0px;
  width: 100%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.539);
  padding: 10px 30px;
}
.videoController > * {
  margin-right: 10px;
}
.videoController button {
  all: unset;
  width: 30px;
}

.seeTime {
  font-size: 15px;
}

#timeline {
  flex-grow: 1;
}

.hiddenAnimation {
  animation: hiddenVideoController 0.5s linear;
}

@keyframes hiddenVideoController {
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
.hidden {
  display: none;
}

#commentContainer {
  width: 90%;
}

#addCommentPart {
  display: flex;
  justify-content: center;
  height: 200px;
}
#addCommentPart form {
  border: 0.5px solid white;
  border-bottom: none;
  border-radius: 0px;
  padding: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#addCommentPart form span {
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  height: 30%;
  font-size: 20px;
}
#addCommentPart form div {
  display: flex;
  justify-content: flex-start;
  height: 70%;
}
#addCommentPart form > div > * {
  border-radius: 10px;
  margin: 0px;
  height: 60px;
}
#addCommentPart form input {
  font-size: 15px;
  width: 90%;
}
#addCommentPart form input:last-child {
  display: none;
}
#addCommentPart form label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 2%;
  width: 8%;
  background-color: white;
  color: black;
}

#video_comments {
  border: 0.5px solid white;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}
#video_comments li {
  margin-bottom: 15px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#video_comments li > div {
  font-weight: 700;
  padding: 0px 30px 0px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
}
#video_comments li button {
  all: unset;
  color: #FF0000;
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 100vh;
  max-height: max-content;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  background-color: #0F0F0F;
  display: flex;
  flex-direction: column;
}

main {
  padding: 0px, 25px;
  flex-grow: 1;
  max-height: max-content;
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  max-width: 200px;
  margin: 0 auto;
  height: 50px;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: goAway 0.5s ease-in-out 3s forwards;
}
.message.error {
  background-color: tomato;
  color: white;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}
