header.header 
    div.header-col
        a(href="/") 
            i(class="fa-solid fa-bars fa-xl")
            div.header-logo
                i(class="fa-brands fa-youtube fa-xl" style="color: #ff0000;")
                p Youtube Clone
    div.header-col
        form.video-search-form
            input(name="videosearch" type="text" placeholder="검색")
            label(for="video-search-btn")
                i(class="fa-solid fa-magnifying-glass") 
            input(id="video-search-btn" type="submit" style="display:none;")
    if loggedIn
        div.header-col.header-login
            button
                a(href="/users/logout") Logout
            button
                a(href="/videos/upload") 
                    i(class="fa-xl fa-solid fa-video")
            button
                a(href="") 
                    i(class="fa-xl fa-regular fa-bell")
            button img
                //- img(src="", alt="")
    else
        div.header-col.header-not-login 
            button
                a(href="/login") Login
            button
                a(href="/join") Join





    