header 
    div.header-col
        i(class="fa-solid fa-bars")
        div.header-logo
            i(class="fa-brands fa-youtube" style="color: #ff0000;")
            span Youtube Clone
    div.header-col
        form.video-search-form
            input(name="videosearch" type="text" placeholder="검색")
            label(for="video-search-btn")
                i(class="fa-solid fa-magnifying-glass") 
            input(id="video-search-btn" type="submit" style="display:none;")
    div.header-col
        if false
            button
                a(href="") 
                    i(class="fa-solid fa-video")
            button
                a(href="") 
                    i(class="fa-regular fa-bell")
            button
                img(src="", alt="")
        else 
            button
                a(href="") Login
            button
                a(href="") Join





    