header
    a(href="/").header__logo
        i.fab.fa-youtube.fa-2x
        span YouTube Clone
    nav 
        ul
            li 
                a(href="/search")
                    i.i.fas.fa-search
            if loggedIn 
                li
                    a(href="/users/edit") Profile Edit
                li
                    a(href="/videos/upload") Upload
                li 
                    a(href="/users/logout") Logout
                li  
                    a(href=`/users/${user._id}`)
                        if user.avatarUrl ===""
                            span â˜ºï¸
                        else if(user.socialOnly) 
                            img(src=user.avatarUrl).header-user-avatar
                        else
                            img(src="/"+user.avatarUrl).header-user-avatar
            else
                li  
                    a(href="/login") Login
                li
                    a(href="/join") Join
