
div.side-bar
    a(href="") 
        i(class="fa-solid fa-house")
        span 홈 
    a(href="") 
        i(class="fa-solid fa-bolt")
        span shorts
    a(href="") 
        i(class="fa-solid fa-square-check")
        span 구독
    a(href="") 
        i(class="fa-solid fa-box-archive")
        span 보관함
    a(href="") 
        i(class="fa-solid fa-rotate-left")
        span 시청기록  