extends ../base.pug

block content 
    if error   
        div #{error}
    form(method="POST")
        input(name = "oldpw" type="password",requried, placeholder="Old Password")
        input(name = "newpw" type="password",requried, placeholder="New Password")
        input(name = "confirmpw" type="password",requried, placeholder="Confirm New Password")
        input(type="submit" value="Change")