extends ../base


block content
    div.form-box.profile-edit-box
        if(error)
            div #{error}
        img(src="/"+user.avatarUrl,width="100px",height="100px").user-avatar
        form(method="POST" enctype="multipart/form-data")
            label(for="avatar") Avatar
            input(type="file", id="avatar", name="avatar", accept="image/*")
            input(name = "name", placeholder="edit name",type="text",value=`${user.name}`)
            if !user.socialOnly
                input(name = "email",required,type="email",placeholder="edit email",value=`${user.email}`)
            input(name = "location",type="text",placeholder="edit location",value=`${user.location}`)

            input(value="Edit",type="submit").form-btn
        if !user.socialOnly
            a(href="change-password").move-change-password Change Password &rarr;