extends ../base


block content
    if(error)
        div #{error}
    form(method="POST")
        input(name = "name", placeholder="edit name",type="text",value=`${user.name}`)
        if !user.socialOnly
            input(name = "email",required,type="email",placeholder="edit email",value=`${user.email}`)
        input(name = "location",type="text",placeholder="edit location",value=`${user.location}`)
        input(value="Edit",type="submit")
    if !user.socialOnly
        hr
        a(href="change-password") Change Password &rarr;